input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
}

.delbtn {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: white;
}

.no-outline:focus {
    outline: none;
  }

.form-control{
    min-height: 48px;
    
}

.ownerbtn {
    position: absolute;
    bottom: 0;
    margin: 10px;
}