.feed-reco, .all_notes{
    margin-left: 20%;
    margin-top: 5%;
}

.feed{
    /* display: flex; */
    /* float: left; */
    border-right: 1px solid grey;

    /* width: 60%; */
}
/* .reco{
    display: flex;
    padding-left: 16px;
    width: auto;
    margin-top: 2%;
    margin-right: 8px;
    float: right;
} */
.card-view{

    display: grid;
    grid-template-columns:  max-content max-content;
    grid-column-gap: 48px;
    border-right: 1px solid silver;

}

.card-view-2{
    
    display: grid;
    grid-template-columns:  max-content max-content max-content;

}

.recommendation{
    /* border-left: 1px solid grey; */
    padding-left: 3%;
    float: right;
    margin-right: 5%;
    display: grid;
    grid-template-columns: auto;
}
.grid-item{
    margin-bottom: 26px;
}
