
.iframe{
    width: 95%;
    height: 550px;
    display: initial;
    position: relative;
    /* /*float: right; */
    /* margin-left: 60px; */
    margin-top: 60px;
}

.feed{
    /* display: flex; */
    /* float: left; */
    /* border-right: 2px solid grey; */

    width: 80%;
}

.card-view{
    display:'flex'
}

.flexbox-container {
    display: flex;
    flex-direction: row;
}

.note-container{
    /* margin-top: 10%;
    margin-left: 20%;
    margin-right: 0%; */
    margin: 5% 0 0 20%;
  }

.highlighted{
    /* style={{align:"left", borderLeft: "5px solid yellow", paddingLeft:"8px"}} */
    border-left: 5px solid yellow;
    padding-left: 8px;

}
.markdown-clearfloat{
    border: 2px solid grey;
    border-radius: 4px;
}