.title{
    font-size: 60px;
    font-family: monospace;
    color: white;
}
#textform{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: antiquewhite; */
}
.textdiv{
  max-width: 20%;
  
}
.textfield{
    background-color: white;
    border-color: blue;
    border-radius:5% / 15%; 
    
}